$v-app-loading-text: "Loading Wallet Resources...";
$v-font-size: 15px;
$v-font-family: 'Helvetica', sans-serif;

@import "../valo/valo.scss";

@mixin wallet {
    @include valo;

    .v-button-huge {
        height: 90px;
        width: 350px;
        font-size: 46px
    }
    
    .v-caption-huge {
        font-size: 30px
    }
    
    .v-textfield-huge {
        height: 100px;
        font-size: 70px
    }
    
    .v-filterselect-huge {
        height: 100px;
        font-size: 70px
    }
    
    .v-filterselect-huge [class$="button"]:before {
        width: 70px;
    }
    
    .v-filterselect-huge [class$="button"] {
        width: 70px;
    }
    
    .v-datefield-huge {
        height: 100px;
        font-size: 46px
    }
    
    .v-filterselect-suggestpopup-huge {
        .gwt-MenuItem {
            vertical-align: bottom;
            height: 80px;
            line-height: 70px;
          }
        font-size: 70px;
    }
    
    .v-textarea-huge {
        font-size: 70px
    }

}